*{
	margin: 0;
	padding:0;
	font-family: sans-serif;
}

:root{
	--primary-color: #141021;
	--secondary-color: #fefeff;
	--accent-color: #32e669;
}

.light-mode{
	--primary-color: #fefeff;
	--secondary-color: #141021;
}

body{
	width: 100%;
	background: #07050d;
	color: var(--secondary-color);
}

.content{
	width: 1200px;
	min-height: 100vh;
	margin: auto;
	border-radius: 10px;
	background: var(--primary-color);
	box-sizing: border-box;
	overflow: hidden;
}

span{
	color: var(--accent-color)
}

.withnav{
	display: flex;
	align-items: center;
	border-radius: 10px;
	background: #4a5560;
	padding: 10px;
}

#logo{
	width: 15%;
	cursor: pointer;
	margin: 5px 0;
}

#menu-icon{
	width: 12%;
	cursor: pointer;
	display: none;
}

nav{
	width: 85%;
	margin: auto;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav ul{
	flex: 1;
	text-align: right;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 17px 20px;
}

nav ul li a{
	text-decoration: none;
	color: var(--secondary-color);
}

nav ul li a:hover{
	text-decoration: none;
	color: var(--accent-color);
}





@media only screen and (max-width: 700px){
	
	.content{
		width: 100%;
	}
	
	nav{
		width: 60%
	}
	
	nav ul{
		width: 100%;
		background: linear-gradient(#4a5560, #5d306f);
		position: absolute;
		top: 75px;
		right: 0px;
		z-index: 2;	
	}
	
	nav ul li{
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#logo{
		width: 65%;
		padding-left: 10px
	}
	
	#menu-icon{
		width: 30%;	
		cursor: pointer;
		display: block;
	}
	
	#menuList{
		overflow: hidden;
		transition: 0.5s;
	}
}
