*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

:root{
	--primary-color: #141021;
	--secondary-color: #fefeff;
	--accent-color: #32e669;
}

.light-mode{
	--primary-color: #fefeff;
	--secondary-color: #141021;
}

body{
	width: 95%;
	height: 88%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	background: #07050d;
	color: var(--secondary-color);
}

.content{
	width: 980px;
	min-height: 100px;
	margin: auto;
	background: var(--primary-color);
	box-sizing: border-box;
	overflow: hidden;
}

span{
	color: var(--accent-color)
}

.withnav{
	width: 100%;
	display: flex;
	align-items: center;
	background: #4a5560;
	padding: 10px;
}

#logo{
	width: 15%;
	cursor: pointer;
	margin: 5px 0;
	padding-left: 20px;
}

#menu-icon{
	width: 12%;
	cursor: pointer;
	display: none;
}

nav{
	width: 70%;
	margin: auto;
	padding: 20px 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav ul{
	flex: 1;
	text-align: right;
}

nav ul li{
	display: inline-block;
	list-style: none;
	margin: 17px 20px;
}

nav ul li a{
	text-decoration: none;
	color: var(--secondary-color);
}

nav ul li a:hover{
	text-decoration: none;
	color: var(--accent-color);
}

main{
	min-height: 366px;
	margin: 15px 30px;
	padding: 20px;
}

a{
	text-decoration: none;
	color: var(--secondary-color);
}

a:hover{
	text-decoration: none;
	color: var(--accent-color);
}

p{
	padding: 10px 0
}

.downloads{
	width: 100%;
	display: flex;
	align-items: center;
	background: #4a5560;
	padding: 10px;
}

.downloads ul{
	flex: 1;
	text-align: center;
}

.downloads ul li{
	display: inline-block;
	list-style: none;
	margin: auto;
}


footer{
	width: 1180px;;
	float: left;
	background: #4a5560;
	padding: 10px;
}

.not-work{
	text-decoration: line-through
}

@media only screen and (max-width: 700px){
	
	.content{
		width: 100%;
	}
	
	#logo{
		width: 65%;
		padding-left: 10px
	}
			
}
